@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme {
  --color-primary-50: #ccf9ff;
  --color-primary-100: #b2f6ff;
  --color-primary-200: #99f3ff;
  --color-primary-300: #66edff;
  --color-primary-400: #33e7ff;
  --color-primary-500: #00e1ff;
  --color-primary-600: #00cde8;
  --color-primary-700: #00b4cc;
  --color-primary-800: #00b4cc;
  --color-primary-900: #005a66;
  --color-primary-950: #002d33;
  --color-primary-1000: #002226;

  --color-softblue-50: #fcfcfd;
  --color-softblue-100: #f8f9fc;
  --color-softblue-200: #eaecf5;
  --color-softblue-300: #d5d9eb;
  --color-softblue-400: #b3b8db;
  --color-softblue-500: #717bbc;
  --color-softblue-600: #4e5ba6;
  --color-softblue-700: #3c457f;
  --color-softblue-800: #363f72;
  --color-softblue-900: #293056;
  --color-softblue-950: #101323;
  --color-softblue-1000: #0d0f1c;
  --color-softblue-1100: #030510;

  --color-skyblue-50: #f5fbff;
  --color-skyblue-100: #f0f9ff;
  --color-skyblue-200: #e0f2fe;
  --color-skyblue-300: #b9e6fe;
  --color-skyblue-400: #7cd4fd;
  --color-skyblue-500: #36bffa;
  --color-skyblue-600: #0ba5ec;
  --color-skyblue-700: #0086c9;
  --color-skyblue-800: #026aa2;
  --color-skyblue-900: #065986;
  --color-skyblue-950: #0b4a6f;
  --color-skyblue-1000: #062c41;

  --color-electricblue-50: #f5f8ff;
  --color-electricblue-100: #eff4ff;
  --color-electricblue-200: #d1e0ff;
  --color-electricblue-300: #b2ccff;
  --color-electricblue-400: #84adff;
  --color-electricblue-500: #528bff;
  --color-electricblue-600: #2970ff;
  --color-electricblue-700: #155eef;
  --color-electricblue-800: #004eeb;
  --color-electricblue-900: #0040c1;
  --color-electricblue-950: #00359e;
  --color-electricblue-1000: #002266;

  --color-gray-50: #fafafa;
  --color-gray-100: #f7f7f7;
  --color-gray-200: #f0f0f1;
  --color-gray-300: #ececed;
  --color-gray-400: #cecfd2;
  --color-gray-500: #94979c;
  --color-gray-600: #85888e;
  --color-gray-700: #61656c;
  --color-gray-800: #373a41;
  --color-gray-900: #22262f;
  --color-gray-950: #13161b;
  --color-gray-1000: #0c0e12;

  --color-neutral-50: #ffffff;
  --color-neutral-100: #fafaff;
  --color-neutral-200: #e5e6f2;
  --color-neutral-300: #e5e6f2;
  --color-neutral-400: #dbdce8;
  --color-neutral-500: #c1c1cc;
  --color-neutral-600: #a9a9b2;
  --color-neutral-700: #919199;
  --color-neutral-800: #797980;
  --color-neutral-850: #616166;
  --color-neutral-900: #2e2e2e;
  --color-neutral-950: #1c1c1c;
  --color-neutral-1000: #0d0d0d;

  --color-error-100: #fef1f1;
  --color-error-200: #fee9ea;
  --color-error-300: #fdd2d3;
  --color-error-400: #f76e71;
  --color-error-500: #de6366;
  --color-error-600: #c6585a;
  --color-error-700: #b95355;
  --color-error-800: #944244;
  --color-error-900: #6f3133;
  --color-error-1000: #562728;

  --color-success-10: #2d5a271a;
  --color-success-50: #2d5a2780;
  --color-success-100: #ffffff;
  --color-success-200: #83c57a;
  --color-success-300: #5ab24e;
  --color-success-400: #43863a;
  --color-success-500: #2d5a27;
  --color-success-600: #1b3617;

  --font-display: var(--font-sf-pro);
  /* header sizes  */
  --text-h1: 52px;
  --text-h2: 48px;
  --text-h3: 44px;
  --text-h4: 40px;
  --text-h5: 36px;
  --text-h6: 30px;
  /* titles */
  --text-t1: 26px;
  --text-t2: 24px;
  /* sub titles */
  --text-s1: 20px;
  --text-s2: 18px;
  /* body */
  --text-b1: 16px;
  --text-b2: 14px;
  --text-b3: 12px;

  /* line heights */
  --leading-h1: 80px;
  --leading-h2: 72px;
  --leading-h3: 66px;
  --leading-h4: 60px;
  --leading-h5: 52px;
  --leading-h6: 46px;
  --leading-t1: 40px;
  --leading-t2: 36px;
  --leading-s1: 30px;
  --leading-s2: 28px;
  --leading-b1: 24px;
  --leading-b2: 20px;
  --leading-b3: 18px;

  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  /* it doesnt work */
  /* --font-header-1 : var(--font-sf-pro, var(--text-h1-size, var(--leading-h1)));
  --font-header-2 : var(--font-sf-pro, var(--text-h2-size, var(--leading-h2)));
  --font-header-3 : var(--font-sf-pro, var(--text-h3-size, var(--leading-h3)));
  --font-header-4 : var(--font-sf-pro, var(--text-h4-size, var(--leading-h4)));
  --font-header-5 : var(--font-sf-pro, var(--text-h5-size, var(--leading-h5)));
  --font-header-6 : var(--font-sf-pro, var(--text-h6-size, var(--leading-h6)));
  --font-title-1 : var(--font-sf-pro, var(--text-t1-size, var(--leading-t1)));
  --font-title-2 : var(--font-sf-pro, var(--text-t2-size, var(--leading-t2)));
  --font-subtitle-1 : var(--font-sf-pro, var(--text-s1-size, var(--leading-s1)));
  --font-subtitle-2 : var(--font-sf-pro, var(--text-s2-size, var(--leading-s2)));
  --font-body-1 : var(--font-sf-pro, var(--text-b1-size, var(--leading-b1)));
  --font-body-2 : var(--font-sf-pro, var(--text-b2-size, var(--leading-b2)));
  --font-body-3 : var(--font-sf-pro, var(--text-b3-size, var(--leading-b3))); */
}

@theme inline {
  --color-background: var(--color-softblue-1000);
  --color-foreground: var(--color-gray-50);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-softblue-1000);
  --foreground: var(--color-gray-50);
  --card: var(--color-softblue-950);
  --card-foreground: var(--color-gray-50);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-primary-700);
  --primary-foreground: var(--color-gray-50);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: var(--color-gray-400);
  --muted-foreground: var(--color-gray-50);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: var(--color-error-400);
  --border: var(--color-primary-700);
  --input: #0c0e1266;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  /*   body {
    @apply bg-background text-foreground;
  } */
}

@layer utilities {
  .gradient-border {
    position: relative;
  }

  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    pointer-events: none;
    background: linear-gradient(90deg, #c6a7f5, #01a2bc);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .gradient-border-bottom {
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90.55deg,
        #A5BFF6 4.73%,
        #C6A7F5 45.81%,
        #92D5DB 80.14%,
        rgba(1, 162, 188, 0.1) 112.9%);
  }
}